{% extends 'base.html.twig' %}

{% block title %}Question {{ question.id }}{% endblock %}

{% block body %}    
    <div class="row">
        <div class="title">
            <h2>{{ question.title }}</h2>
        </div>

        {% for suggestion in question.suggestions %}
            {% if suggestion.isCorrect == true %}
                {% set icon = 'check' %}
                {% set color = 'text-success' %}
            {% else %}
                {% set icon = 'close' %}
                {% set color = 'text-danger' %}
            {% endif %}
            <div class="col-md-10">
                <div class="col-md-7">
                    <h4><i class="material-icons {{ color }}">{{ icon }}</i> {{ suggestion.title }}  </h4>
                </div>
                <div class="col-md-3">
                    {% if ratios[suggestion.id]|default %}
                        <h4>{{ ratios[suggestion.id] }} answers</h4>
                    {% else %}
                        <h4>0 answers</h4>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if percentages[suggestion.id]|default %}
                        <h4>{{ percentages[suggestion.id] }}%</h4>
                    {% else %}
                        <h4>0%</h4>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="row col-md-2 text-info" style="float:right, ">
            <small>Question created the {{ question.createdAt|date('Y-m-d H:i:s') }}</small>
            {% if question.tag|default %}
                <span class="label label-info">{{ question.tag }}</span>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
