{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}
    <div class="row">
        <div class="title">
            <h2>Question list</h2>
        </div>

        {% for question in questions %}
            <div>
                <h4>
                    <a href="{{ path('display_suggestions', {'questionId': question.id}) }}">
                        <button class="btn btn-success btn-sm" href="{{ path('display_suggestions', {'questionId': question.id}) }}">Answer question</button>
                    </a>
                    <a href="{{ path('question_view', {'id': question.id}) }}">
                        {{ question.title }}
                    </a>

                    {% if question.tag|default %}
                        <span class="label label-success">{{ question.tag }}</span>
                    {% endif %}

                </h4>
                <small>Question created the {{ question.createdAt|date('Y-m-d H:i:s') }}</small>

            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
